##### Copyright 2021

In [ ]:
TODO definir licença

Ex:

#@title Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

## **Proposta de classificação das causas de interrupções desconhecidas**

<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/cxxxc.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/gxxxg.ipynb"><img src="https://www.tensorflow.org/images/GitHub-Mark-32px.png" />View source on GitHub</a>
  </td>
</table>

TODO validar hiperlinks acima

# Carga das causas e seus atributos de interrupção

In [2]:
from google.colab import files
import subprocess

In [6]:

file = 'causas_interrupcoes.csv'
proc=subprocess.Popen('ls ' + file, shell=True, stdout=subprocess.PIPE, )
output=proc.communicate()[0]

In [7]:
if not output:
  uploaded = files.upload()
  for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv(file, encoding='latin-1', sep=',')
df.describe()

                  5       3702334  ...             3           2.1
count  1.277513e+06  1.277513e+06  ...  1.277513e+06  1.277508e+06
mean   1.762853e+00  2.471141e+06  ...  2.002123e+00  3.849185e+00
std    9.012786e-01  1.415986e+06  ...  1.394876e+00  1.936859e+00
min    1.000000e+00  3.000000e+00  ...  1.000000e+00  1.000000e+00
25%    1.000000e+00  1.322416e+06  ...  1.000000e+00  2.000000e+00
50%    2.000000e+00  2.470954e+06  ...  2.000000e+00  4.000000e+00
75%    2.000000e+00  3.722489e+06  ...  2.000000e+00  6.000000e+00
max    5.000000e+00  4.926204e+06  ...  6.000000e+00  7.000000e+00

[8 rows x 11 columns]